In [2]:
import pandas as pd

In [3]:
url = r'https://raw.githubusercontent.com/NRSchaaf/Railroad_Accidents/refs/heads/main/RR_Accident_Weather_Data.csv'
data_set = pd.read_csv(url)

Basic Analysis

In [5]:
data_set.head()

,reportingrailroadcode,accidentnumber,date,time,accidenttype,hazmatreleasedcars,station,stateabbr,temperature,visibility_code,...,trainspeed,equipmentdamagecost,trackdamagecost,totaldamagecost,primaryaccidentcausecode,latitude,longitude,prior_temp,actual_temp,following_temp
0,CSX,000178042,8/7/2018,10:51 AM,Derailment,0,BUFFALO,NY,73,2,...,6,19801,1440,21241,T001,42.901973,-78.773441,79.3,75.1,72.4
1,CSX,000182665,4/30/2019,12:25 AM,Derailment,0,MILLBURY,OH,42,4,...,7,21848,1017,22865,T111,41.544006,-83.485654,44.3,45.5,56.6
2,CSX,000138406,12/3/2014,11:45 PM,Derailment,0,PARMA,OH,35,4,...,7,20456,500,20956,T110,41.406978,-81.787482,30.0,34.7,30.4
3,CSX,000188525,2/19/2020,8:44 AM,Derailment,0,CINCINNATI,OH,25,2,...,0,84949,0,625123,T207,39.125335,-84.540044,48.2,34.9,29.7
4,CSX,000175393,3/24/2018,10:53 AM,Derailment,0,LIMA,OH,36,2,...,7,115993,0,196239,T311,40.745354,-84.101095,33.6,31.3,31.8

In [6]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4595 entries, 0 to 4594
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   reportingrailroadcode     4595 non-null   object
 1   accidentnumber            4595 non-null   object
 2   date                      4595 non-null   object
 3   time                      4595 non-null   object
 4   accidenttype              4595 non-null   object
 5   hazmatreleasedcars        4595 non-null   int64
 6   station                   4595 non-null   object
 7   stateabbr                 4595 non-null   object
 8   temperature               4595 non-null   int64
 9   visibility_code           4595 non-null   int64
 10  visibility                4595 non-null   object
 11  weathercondition          4595 non-null   object
 12  tracktype                 4595 non-null   object
 13  equipmenttype             4303 non-null   object
 14  trainspeed                4595 non-null   int64
 15  equipmentdamagecost       4595 non-null   int64
 16  trackdamagecost           4595 non-null   int64
 17  totaldamagecost           4595 non-null   int64
 18  primaryaccidentcausecode  4595 non-null   object
 19  latitude                  4595 non-null   float64
 20  longitude                 4595 non-null   float64
 21  prior_temp                4595 non-null   float64
 22  actual_temp               4595 non-null   float64
 23  following_temp            4595 non-null   float64
dtypes: float64(5), int64(7), object(12)
memory usage: 861.7+ KB

In [7]:
nan_count = data_set.isna().sum()
nan_count

reportingrailroadcode         0
accidentnumber                0
date                          0
time                          0
accidenttype                  0
hazmatreleasedcars            0
station                       0
stateabbr                     0
temperature                   0
visibility_code               0
visibility                    0
weathercondition              0
tracktype                     0
equipmenttype               292
trainspeed                    0
equipmentdamagecost           0
trackdamagecost               0
totaldamagecost               0
primaryaccidentcausecode      0
latitude                      0
longitude                     0
prior_temp                    0
actual_temp                   0
following_temp                0
dtype: int64

In [8]:
data_set.describe().T

,count,mean,std,min,25%,50%,75%,max
hazmatreleasedcars,4595.0,0.028945,0.526021,0.00000,0.000000,0.000000,0.000000,2.800000e+01
temperature,4595.0,58.926877,22.587870,-35.00000,41.000000,60.000000,77.000000,1.150000e+02
visibility_code,4595.0,2.660936,1.035686,1.00000,2.000000,2.000000,4.000000,4.000000e+00
trainspeed,4595.0,9.551687,12.077753,0.00000,4.000000,6.000000,9.000000,1.250000e+02
equipmentdamagecost,4595.0,114259.902938,448682.514449,0.00000,5282.500000,19123.000000,63174.500000,2.194712e+07
trackdamagecost,4595.0,67180.249837,202218.147279,0.00000,1857.000000,12000.000000,47450.000000,4.600000e+06
totaldamagecost,4595.0,208355.717954,664294.973831,0.00000,20940.500000,48135.000000,144222.500000,2.201925e+07
latitude,4595.0,37.919532,5.213919,0.00000,33.741081,39.110705,41.412739,4.901675e+01
longitude,4595.0,-92.067926,15.604322,-683.19219,-97.353523,-90.605520,-83.505282,0.000000e+00
prior_temp,4595.0,57.591077,19.029285,-16.80000,42.150000,59.700000,74.100000,1.002000e+02
actual_temp,4595.0,57.371121,19.353664,-18.80000,42.100000,59.200000,74.000000,1.001000e+02
following_temp,4595.0,57.465484,19.380081,-21.20000,42.700000,59.100000,74.400000,1.029000e+02

Impute missing *equipmenttype* values.

In [13]:
# Identify unique values in the 'equipmenttype' feature
unique_values = data_set['equipmenttype'].unique()
unique_values

array(['Yard/switching', 'Freight Train', 'Cut of cars', 'Light loco(s)',
       'Single Car', nan, 'Spec. MoW Equip.', 'Passenger Train - Pulling',
       'Commuter Train - Pulling', 'EMU', 'Commuter Train - Pushing',
       'Work train', 'Passenger Train - Pushing', 'Maint./inspect Car'],
      dtype=object)

In [14]:
# Convert 'equipmenttype' to categorical codes
data_set['equipmenttype_code'] = data_set['equipmenttype'].astype('category').cat.codes

In [15]:
# Select numerical features
numerical_features = [
    'hazmatreleasedcars', 
    'trainspeed', 
    'equipmentdamagecost', 
    # Add more numerical features if available
]

# Calculate the correlation matrix
correlation_matrix = data_set[numerical_features + ['equipmenttype_code']].corr()

# Get correlation with 'equipmenttype_code'
equipmenttype_corr = correlation_matrix['equipmenttype_code'].sort_values(ascending=False)
print("Correlation of numerical features with 'equipmenttype':")
print(equipmenttype_corr)

Correlation of numerical features with 'equipmenttype':
equipmenttype_code     1.000000
hazmatreleasedcars    -0.019327
equipmentdamagecost   -0.063690
trainspeed            -0.088412
Name: equipmenttype_code, dtype: float64

The numerical features display a weak, negative correlation with the target 'equipmenttype'.

In [16]:
# List of categorical features
categorical_features = [
    'accidenttype', 
    'tracktype', 
    'primaryaccidentcausecode'
]

# Create cross-tabulations
for feature in categorical_features:
    crosstab = pd.crosstab(data_set[feature], data_set['equipmenttype'])
    print(f"\nCross-tabulation of '{feature}' with 'equipmenttype':")
    print(crosstab)

Cross-tabulation of 'accidenttype' with 'equipmenttype':
equipmenttype                  Commuter Train - Pulling  \
accidenttype
Broken train collision                                0
Derailment                                           19
Fire/violent rupture                                  0
Obstruction                                           0
Other (describe in narrative)                        24
Other impacts                                         1
Raking collision                                      0
Side collision                                        0

equipmenttype                  Commuter Train - Pushing  Cut of cars  EMU  \
accidenttype
Broken train collision                                0            0    0
Derailment                                           12           70   19
Fire/violent rupture                                  0            0    2
Obstruction                                           1            0    4
Other (describe in narrative)                         9            2   59
Other impacts                                         0            6   14
Raking collision                                      0            2    1
Side collision                                        0            5    0

equipmenttype                  Freight Train  Light loco(s)  \
accidenttype
Broken train collision                     0              0
Derailment                              2492            208
Fire/violent rupture                       1              0
Obstruction                                1              1
Other (describe in narrative)              9              3
Other impacts                              4              1
Raking collision                           1              0
Side collision                             2              0

equipmenttype                  Maint./inspect Car  Passenger Train - Pulling  \
accidenttype
Broken train collision                          0                          0
Derailment                                      1                         22
Fire/violent rupture                            0                          0
Obstruction                                     0                          2
Other (describe in narrative)                   1                         45
Other impacts                                   0                          3
Raking collision                                0                          0
Side collision                                  0                          1

equipmenttype                  Passenger Train - Pushing  Single Car  \
accidenttype
Broken train collision                                 0           0
Derailment                                             3          27
Fire/violent rupture                                   0           0
Obstruction                                            0           0
Other (describe in narrative)                          0           0
Other impacts                                          0           6
Raking collision                                       0           0
Side collision                                         0           0

equipmenttype                  Spec. MoW Equip.  Work train  Yard/switching
accidenttype
Broken train collision                        0           0               1
Derailment                                    5          25            1153
Fire/violent rupture                          0           0               0
Obstruction                                   2           0               0
Other (describe in narrative)                 1           1               4
Other impacts                                 0           0              14
Raking collision                              2           0               1
Side collision                                0           0              10

Cross-tabulation of 'tracktype' with 'equipmenttype':
equipmenttype  Commuter Train - Pulling  Commuter Train - Pushing  \
tracktype
Industry                              0                         0
Main                                 32                        18
Siding                                0                         0
Yard                                 12                         4

equipmenttype  Cut of cars  EMU  Freight Train  Light loco(s)  \
tracktype
Industry                 4    0            485             31
Main                     6   80            921              3
Siding                   3    1            117              4
Yard                    72   18            987            175

equipmenttype  Maint./inspect Car  Passenger Train - Pulling  \
tracktype
Industry                        0                          0
Main                            2                         70
Siding                          0                          0
Yard                            0                          3

equipmenttype  Passenger Train - Pushing  Single Car  Spec. MoW Equip.  \
tracktype
Industry                               0           1                 0
Main                                   1           1                 6
Siding                                 0           0                 0
Yard                                   2          31                 4

equipmenttype  Work train  Yard/switching
tracktype
Industry                2             232
Main                    4              20
Siding                  2              13
Yard                   18             918

Cross-tabulation of 'primaryaccidentcausecode' with 'equipmenttype':
equipmenttype             Commuter Train - Pulling  Commuter Train - Pushing  \
primaryaccidentcausecode
T001                                             0                         0
T002                                             0                         0
T099                                             0                         0
T101                                             0                         0
T102                                             0                         1
T103                                             0                         1
T104                                             0                         0
T105                                             0                         0
T106                                             0                         0
T107                                             0                         0
T108                                             0                         0
T109                                             0                         0
T110                                             5                         0
T111                                             1                         2
T112                                             2                         0
T113                                             3                         0
T199                                             0                         0
T201                                             0                         0
T202                                             0                         0
T203                                             0                         0
T204                                             0                         0
T205                                             0                         0
T206                                             0                         0
T207                                             0                         1
T208                                             0                         0
T210                                             0                         0
T299                                             1                         0
T301                                             0                         0
T303                                             0                         0
T304                                             0                         0
T305                                             0                         0
T306                                             0                         0
T307                                             0                         0
T308                                             0                         0
T309                                             0                         0
T310                                             0                         0
T311                                             1                         0
T312                                             0                         0
T313                                             0                         0
T314                                             5                         1
T315                                             0                         0
T316                                             0                         0
T317                                             0                         0
T318                                             0                         0
T319                                             1                         0
T399                                             0                         6
T401                                             0                         0
T402                                             0                         0
T403                                             0                         0
T404                                            23                         9
T499                                             2                         1

equipmenttype             Cut of cars  EMU  Freight Train  Light loco(s)  \
primaryaccidentcausecode
T001                                2    0            131              5
T002                                1    0             37              1
T099                                0    0              8              0
T101                                6    1             67              0
T102                                2    0             82              2
T103                                2    0             14              1
T104                                0    1              1              0
T105                                0    0              5              0
T106                                1    0             22              1
T107                                0    0              1              0
T108                                0    2             76              1
T109                                1    0            135              0
T110                                3    4            469             41
T111                                1    2            134             17
T112                                0    0             13              3
T113                                0    0             39             14
T199                                0    0             34              3
T201                                5    0             37              4
T202                                4    0            118              5
T203                                0    0              5              0
T204                                0    0             50              0
T205                                1    0             58              1
T206                                0    0             43              5
T207                               17    0            287             13
T208                                1    0              7              1
T210                                7    0            100              6
T299                                0    0             34              1
T301                                0    0              0              1
T303                                0    1             17              1
T304                                0    0              3              0
T305                               10    0              1              1
T306                                2    0              0              0
T307                                0    1             10              2
T308                                0    0             12              1
T309                                1    0             21              2
T310                                0    0             12              0
T311                                5    1             56             20
T312                                1    1              8              0
T313                                2    0             12              2
T314                                6    2            140             26
T315                                1    0             13              0
T316                                0    0             11              1
T317                                0    0              6              0
T318                                0    0              7              0
T319                                0    2             70             11
T399                                1    3             36              6
T401                                0    0             14              1
T402                                0    0              7              2
T403                                1    2             36              8
T404                                0   76              0              2
T499                                1    0             11              1

equipmenttype             Maint./inspect Car  Passenger Train - Pulling  \
primaryaccidentcausecode
T001                                       0                          0
T002                                       0                          1
T099                                       0                          0
T101                                       0                          0
T102                                       0                          0
T103                                       0                          0
T104                                       0                          0
T105                                       0                          0
T106                                       0                          0
T107                                       0                          0
T108                                       0                          0
T109                                       0                          3
T110                                       0                          5
T111                                       0                          3
T112                                       0                          0
T113                                       0                          0
T199                                       0                          0
T201                                       0                          0
T202                                       0                          0
T203                                       0                          0
T204                                       0                          1
T205                                       0                          2
T206                                       0                          0
T207                                       0                          2
T208                                       0                          0
T210                                       0                          1
T299                                       0                          0
T301                                       0                          0
T303                                       0                          0
T304                                       0                          0
T305                                       0                          0
T306                                       0                          0
T307                                       0                          0
T308                                       0                          1
T309                                       0                          0
T310                                       0                          0
T311                                       0                          3
T312                                       0                          0
T313                                       0                          0
T314                                       0                          2
T315                                       0                          0
T316                                       0                          0
T317                                       0                          0
T318                                       0                          0
T319                                       0                          0
T399                                       0                          1
T401                                       0                          2
T402                                       0                          0
T403                                       1                          0
T404                                       0                         43
T499                                       1                          3

equipmenttype             Passenger Train - Pushing  Single Car  \
primaryaccidentcausecode
T001                                              0           2
T002                                              0           0
T099                                              0           0
T101                                              0           3
T102                                              0           2
T103                                              0           1
T104                                              0           0
T105                                              0           0
T106                                              0           2
T107                                              0           0
T108                                              0           0
T109                                              0           0
T110                                              0           0
T111                                              1           1
T112                                              0           0
T113                                              0           0
T199                                              0           1
T201                                              0           0
T202                                              0           2
T203                                              0           0
T204                                              0           0
T205                                              0           0
T206                                              0           2
T207                                              0           1
T208                                              0           0
T210                                              0           2
T299                                              0           0
T301                                              0           0
T303                                              0           1
T304                                              0           0
T305                                              0           2
T306                                              0           0
T307                                              0           0
T308                                              0           0
T309                                              0           2
T310                                              0           0
T311                                              1           1
T312                                              0           0
T313                                              0           0
T314                                              1           3
T315                                              0           0
T316                                              0           0

Build a model to predict 'equipmenttype' and fill in the missing values.

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

In [25]:
url = r'https://raw.githubusercontent.com/NRSchaaf/Railroad_Accidents/refs/heads/main/RR_Accident_Weather_Data.csv'
data_set1 = pd.read_csv(url)

In [26]:
print(data_set1['equipmenttype'].isna().sum())

292

In [ ]:
# Step 1: Filter data
train_data = data_set1[data_set1['equipmenttype'].notna()]
missing_data = data_set1[data_set1['equipmenttype'].isna()]

# Step 2: Select features and target
X = train_data[['accidenttype', 'tracktype']]
y = train_data['equipmenttype']

# Step 3: Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Create a pipeline for preprocessing and modeling
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(), ['accidenttype', 'tracktype'])  # One-Hot Encoding
    ]
)

model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(random_state=42))  # You can choose a different model
])

# Step 5: Train the model
model.fit(X_train, y_train)

# Step 6: Predict missing values
missing_features = missing_data[['accidenttype', 'tracktype']]

# Ensure missing_features is not empty before predicting
if not missing_features.empty:
    predictions = model.predict(missing_features)

    # Step 7: Fill missing values in the original DataFrame
    data_set1.loc[data_set1['equipmenttype'].isna(), 'equipmenttype'] = predictions

    # Step 8: (Optional) Evaluate model performance
    y_pred = model.predict(X_test)
    print(classification_report(y_test, y_pred))
else:
    print("No data available for predicting missing equipment types.")

                           precision    recall  f1-score   support

 Commuter Train - Pulling       0.00      0.00      0.00         9
 Commuter Train - Pushing       0.00      0.00      0.00         3
              Cut of cars       0.00      0.00      0.00        15
                      EMU       0.32      0.47      0.38        19
            Freight Train       0.57      0.99      0.73       472
            Light loco(s)       0.00      0.00      0.00        47
Passenger Train - Pulling       0.00      0.00      0.00        14
               Single Car       0.00      0.00      0.00         9
         Spec. MoW Equip.       0.25      0.25      0.25         4
               Work train       0.00      0.00      0.00         7
           Yard/switching       0.25      0.01      0.01       262

                 accuracy                           0.56       861
                macro avg       0.13      0.16      0.12       861
             weighted avg       0.40      0.56      0.41       861

c:\Users\natha\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\natha\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\natha\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [29]:
# Step 1: Filter data
train_data = data_set1[data_set1['equipmenttype'].notna()]
missing_data = data_set1[data_set1['equipmenttype'].isna()]

# Step 2: Select features and target
X = train_data[['accidenttype', 'tracktype']]
y = train_data['equipmenttype']

# Step 3: Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Create a pipeline for preprocessing and modeling
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(), ['accidenttype', 'tracktype'])  # One-Hot Encoding
    ]
)

model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(random_state=42))  # You can choose a different model
])

# Step 5: Train the model
model.fit(X_train, y_train)

# Step 6: Predict missing values
missing_features = missing_data[['accidenttype', 'tracktype']]

# Ensure missing_features is not empty before predicting
if not missing_features.empty:
    predictions = model.predict(missing_features)

    # Step 7: Fill missing values in the original DataFrame
    data_set1.loc[data_set1['equipmenttype'].isna(), 'equipmenttype'] = predictions

# Step 8: Save the modified DataFrame to a new CSV file
output_file = "RR_Accident_Weather_Data_Imputed.csv"
data_set1.to_csv(output_file, index=False)

print(f"Missing values imputed and saved to '{output_file}'.")

Missing values imputed and saved to 'RR_Accident_Weather_Data_Imputed.csv'.